<html>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
        <script src="../utils/fbConfig.js"></script>
        <script src="../utils/utils.js"></script>

	<!-- Semantic UI -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

        <!-- Gene App Script-->
        <script src="geneScript.js"></script>
	
	<body ng-app="myApp" ng-controller="variantCtrl">

        <div class="ui text container">
            <h1 style="text-align:center">Add Genetic Variant Screening</h1>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Chromosome</th>
                        <th>Gene</th>
                        <th>Location</th>
                        <th>Wild Type</th>
                        <th>Variant</th>
                    </tr>
                </thead>
                    <tr ng-repeat="v in variants">
                        <td>8</td>
                        <td>{{ v.name}}</td>
                        <td>{{ v.loc}}</td>
                        <td>{{ v.wtNT}}</td>
                        <td>{{ v.varNT}}</td>
                        <td style="text-align:center"><i class="circle icon" style="color:{{activeVariant.activeColor}}" ng-if="p.variant"></i></td>
                    </tr>

                <tbody>
                    

                </tbody>
            </table>
            
        </div>


	</body>
</html>
