
<html>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
	<!-- AngularFire -->
	<!-- <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script> -->
	<script src="../utils/utils.js"></script>

	<script type="text/javascript" src="../utils/fbConfig.js"></script>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>
		ACCESS_TOKEN = "2rbnjfrsr8qr962g6hwfaja3";
		var providerId = 86;

		function getPatientInfo(){

			var obj = {
				"departmentid": 1,
				"enddate": "05/05/2018",
				"ignorerestrictions": false,
				"showcancelled": false,
				"showclaimdetail": false,
				"showcopay": true,
				"showinsurance": false,
				"showpatientdetail": true,
				"showremindercalldetail": false,
				"startdate": "05/01/2018"
			}

			// PATIENT_INFO_OBJ = {};
			// PATIENT_INFO_ARR = [];


			$.ajax({
			  url: "https://api.athenahealth.com/preview1/195900/appointments/booked?" + Utils.serialize(obj),
			  beforeSend: function(request) {
			    request.setRequestHeader("Authorization", "Bearer " + ACCESS_TOKEN);
			    request.setRequestHeader("X-Originating-Ip", "69.162.16.9");
			  },
			  type: "GET",
			  dataType: "html",
			  success: function(res){
			  	var data = JSON.parse(res);
			  	var patients = [];
			  	for (var i = 0; i < data["appointments"].length; i++){
			  		if (data["appointments"][i]["providerid"] == providerId){
			  			var patient = data["appointments"][i]["patient"];

			  			PATIENT_INFO_OBJ[patient["patientid"]] = patient;
			  			PATIENT_INFO_ARR.push(patient);
			  		}
			  	}

			  	sessionStorage.setItem("PATIENT_INFO_OBJ", JSON.stringify(PATIENT_INFO_OBJ));
			  	sessionStorage.setItem("PATIENT_INFO_ARR", JSON.stringify(PATIENT_INFO_ARR));
			  	sessionStorage.setItem("PROVIDER_ID", JSON.stringify(86));
			  	sessionStorage.setItem("ACCESS_TOKEN", JSON.stringify(ACCESS_TOKEN));

			  	localStorage.setItem("PATIENT_INFO_OBJ", JSON.stringify(PATIENT_INFO_OBJ));
			  	localStorage.setItem("PATIENT_INFO_ARR", JSON.stringify(PATIENT_INFO_ARR));
			  	localStorage.setItem("PROVIDER_ID", JSON.stringify(86));
			  	localStorage.setItem("ACCESS_TOKEN", JSON.stringify(ACCESS_TOKEN));

			  	window.location.href = '/home';
			  }
			});
		}

		var Auth_ = {
			signUp: function(username, password){
				firebase.auth().createUserWithEmailAndPassword(username, password).then(function(){
					// on successful sign up, render main page
					console.log('success signing up');

					getPatientInfo();
				}).catch(function(error) {
				  // Handle Errors here.
				  console.log(error.code);
				  console.log(error.message);
				});
			},
			signIn: function(username, password){
				firebase.auth().signInWithEmailAndPassword(username, password).then(function(){
					// on successful sign in, render main page
					console.log('success signing in');

					getPatientInfo();
				}).catch(function(error) {
					// Handle Errors here.
					console.log(error.code);
					console.log(error.message);
				});
			},
			signOut: function(){
				firebase.auth().signOut().then(function() {
					// Sign-out successful.
					console.log('sign out successful');
				}).catch(function(error) {
					// Handle Errors here.
					console.log(error.code);
					console.log(error.message);
				});
			}
		}
		// Add an object to a bucket in firebase
		// var FBHelper_ = {
		// 	addToBucket: function(bucket, key, obj){
		// 		database.ref(bucket + "/" + key).set(obj, function(error){
		// 	    	console.log(error);
		// 	    });
		// 	}
		// }

		var app = angular.module('myApp', []);
		app.controller('loginCtrl', function($scope) {
		    $scope.signUp = function(){
		    	Auth_.signUp($scope.username, $scope.password);
		    }
		    $scope.signIn = function(){
		    	Auth_.signIn($scope.username, $scope.password);
		    }
		    $scope.signOut = function(){
		    	Auth_.signOut();
		    }
		});
		
		// function testfb(){

		// 	var song = {
		// 	     	song: "song",
		// 	     	key: "key",
		// 	    };

		// 	FBHelper_.addToBucket("bucket1", "songdb", song);
		// }
		// testfb();
	</script>
	<body ng-app="myApp" ng-controller="loginCtrl">
<!-- 		<div >
		First Name: <input type="text" ng-model="firstName"><br>
		Last Name: <input type="text" ng-model="lastName"><br>
		Full Name: {{firstName + " " + lastName}}
		</div> -->

		<input type="text" name="email" ng-model="username">
		<input type="password" name="pass" ng-model="password">

		<button ng-click="signUp()">Add something to firebase</button>
		
		<button ng-click="signUp()">Sign Up</button>
		<button ng-click="signIn()">Sign In</button>
		<button ng-click="signOut()">Sign Out</button>
		<h1>Welcome to My Awesome App</h1>
	 </body>
</html>